div.title-search-results,
div.content-search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

ul.content-results {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

ul.content-results li{
    border: 1px solid white;
}
